# Data Types and Structures theoreticals Questions

---



1.    **What are data structures, and why are they important?**

      - A data structure is a way of organizing and storing data so it can be used efficiently.

* **Why Are Data Structures Important**

 *   Organize data clearly and meaningfully.
 *    Improve performance (faster searching, sorting, etc.)
 *   Make code easier to read and maintain.
 *    Help in problem-solving and building real-world apps.



2.    **Explain the difference between mutable and immutable data types with examples**

     - **Mutable Data Types –** You can modify them

       **like as->** list, dict, set

       **Example: list (Mutable)**

            my_list = [1, 2, 3]
            my_list[0] = 10   # Change the first element
            print(my_list)   # Output: [10, 2, 3]         


 - **Immutable Data Types –** You cannot modify them directly

  **like as->** int, float, str, tuple
  
  **Example: str (Immutable)**
         my_str = "hello"
         # my_str[0] = "H"   # This will cause an error
         new_str = "H" + my_str[1:]  # Create a new string
         print(new_str)    # Output: Hello



3.  ** What are the main differences between lists and tuples in Python**

     - **Main Differences Between Lists and Tuples:**
         
                Feature                      List                       Tuple

             Mutable	             Yes (can be changed)	  No (cannot be changed)
             Syntax	                Square brackets []     	Round brackets ()
             Performance	          Slightly slower	       Faster (because it's fixed)
             Use case	        When data may need to change	When data should stay constant
             Methods	         Many built-in methods           Fewer built-in methods
                              (append(), remove(), etc.)



4.   **Describe how dictionaries store data.**
     
       -  A dictionary is a built-in Python data structure that stores data in key-value pairs.

               student = {
                   "name": "Sumit",
                   "age": 22,
                   "course": "Python"
              }


*   "name" → key, "Sumit" → value
*   "age" → key, 22 → value
*   "course" → key, "Python" → value



5.   **Why might you use a set instead of a list in Python.**

     - **Quick Comparison:**

                 Feature	           List	                   Set
              
               Allows Duplicates	    Yes	                    No
               Ordered	            Yes (since Python 3.7)	   No guaranteed order
               Mutable	            Yes	                      Yes
               Fast lookup	        Slower	                   Faster

*  **When to Use:**
   
   - Use a set when you need unique values and fast lookups.

   - Use a list when you care about order or want duplicates.



6.   **What is a string in Python, and how is it different from a list.**
     
       - **String in Python:**

       A string is a sequence of characters enclosed in quotes (' ' or " ").

                    text = "Hello"

  

*   It stores text
*   Each character has a position (index).
*   Strings are immutable (can’t be changed directly)\

     - **List in Python:**

     A list is an ordered collection of items (can be numbers, strings, etc.)


           my_list = ['H', 'e', 'l', 'l', 'o']

*   It can store any data types

*   Lists are mutable (you can change, add, or remove items)



7.   **How do tuples ensure data integrity in Python**

       -  **A tuple is immutable** —
       
           once it’s created, you cannot change, add, or remove any of its elements.

                     person = ("Sumit", 25, "Python Developer")
                     # person[1] = 30   Not allowed — will raise an error



8.   **What is a hash table, and how does it relate to dictionaries in Python**

        - **Hash Table:**
            
            A hash table is a data structure that stores key-value pairs.
            
            - just like a real-world dictionary.

            * Take a key
            * Convert it into a unique number (called a hash code)
            * Use that number to decide where to store the value in memory

    - **How Does This Relate to Dictionaries**

      - Python’s built-in dict is implemented using a hash table behind the scenes

      So when you write:

                      student = {"name": "Sumit", "age": 22}

        * Hashes the key ("name", "age")
        * Stores each value in memory based on the hash
        * Uses the hash table to retrieve values in constant time (very fast)



9.   **Can lists contain different data types in Python**

      - Lists in Python can contain different data types
          - that’s one of their superpowers


              my_list = ["Sumit", 25, 5.9, True, None]
              print(my_list)



10.   **Explain why strings are immutable in Python**

        -  **Immutable Mean:**
           
           When we say strings are immutable in Python, we mean:

            - You cannot change the characters inside a string once it's created.

        - **Why Are Strings Immutable**

          * Security & Safety
          * Hashing & Dictionary Keys
          *  Performance Boost
          * Design Simplicity



11.   **What advantages do dictionaries offer over lists for certain tasks**

        - Dictionaries are better when you want to look up data using a key, not just a position.

        

*   **Dictionary vs List — Key Differences**

           Feature	             List	                   Dictionary
          
          Access by	       Index (numbered positions)	Key (like a label)
          Lookup speed	    Slower (O(n) in worst case)   Very fast (O(1) on average)
          Meaning of each item	Positional (no name)	   Clearly labeled with keys
          Key uniqueness	     Not applicable	           Keys must be unique
          Ideal use case	 Ordered collections, sequences	Structured data with key-value mapping



12.    **Describe a scenario where using a tuple would be preferable over a list**
    - **Scenario: Storing Coordinates**

     Suppose you’re making a program that deals with map points or locations, like GPS coordinates:

              location = (28.6139, 77.2090)  # (latitude, longitude)

       **Tuple Instead of a List**
        
          * Data Should Not Change
              
              You don't want someone accidentally changing the location:
                  
                     location[0] = 30.0000  # ❌ Not allowed (good!)

              Tuples protect the data — perfect for fixed values

          * Can Be Used as Dictionary Keys
             
             Tuples can be keys, but lists cannot:

                  coordinates = {
                        (28.6139, 77.2090): "New Delhi"
                 }

        Useful when mapping positions to names.

      *  Faster and More Memory Efficient

        Tuples are slightly faster and take less memory than lists — helpful when dealing with many small records.

13.  **How do sets handle duplicate values in Python**
  
      - Sets automatically remove duplicate values.

      * They only keep unique items — no repetitions allowed

14.  **How does the “in” keyword work differently for lists and dictionaries**

       -  The in keyword is used for checking membership
       
        but it works differently for lists and dictionaries.

        **Using in with a List:**

            Checks if a value exists in the list.

                  my_list = [10, 20, 30]

                  print(20 in my_list)  #  True (20 is in the list)
                  print(50 in my_list)  #  False  
                    
  **Using in with a Dictionary:**

       Checks if a key exists, not the value.

                   my_dict = {"name": "Sumit", "age": 25}

                  print("name" in my_dict)     #  True (key is present)
                  print("Sumit" in my_dict)    # False (it's a value, not a key)

15.   **Can you modify the elements of a tuple? Explain why or why not**

       - No, you cannot modify the elements of a tuple.

          **Tuple**
                 
            A tuple in Python is a collection of ordered, fixed values — like a list, but immutable.

            **Why Can’t You Modify a Tuple**
             
            - Tuples are immutable, which means:

          - You can’t change, add, or remove items after the tuple is created.

* This includes:

* No changing values

* No appending items

* No removing items

16.    **What is a nested dictionary, and give an example of its use case**

         - **Nested Dictionary:**
              
              A nested dictionary is a dictionary inside another dictionary.

            It allows you to store multiple levels of data, like a dictionary of dictionaries.
      
       **Example:**

                  students = {
                        "101": {"name": "Sumit", "age": 20, "grade": "A"},
                        "102": {"name": "Priya", "age": 21, "grade": "B"},
                        "103": {"name": "Amit", "age": 19, "grade": "A+"}
              }

17.  **Describe the time complexity of accessing elements in a dictionary**

        - **Time Complexity of Accessing Elements in a Dictionary**

        *  In Python, accessing an element by key in a dictionary is on average:
    
    **O(1) — Constant Time**

    This means it takes the same time no matter how big the dictionary is.

    **Why Is It O(1)**

    Python dictionaries use a hash table under the hood.
          
             value = my_dict["key"]

    1. Python hashes the key (like turning it into a number)
    2. It jumps directly to the spot in memory where the value is stored
    

   **Worst Case: O(n)**

   In rare cases, due to something called hash collisions, the time can degrade to:

   **O(n) — Linear Time**

   But Python is smart and handles collisions efficiently, so this is uncommon.


                 my_dict = {"name": "Sumit", "age": 25, "city": "Delhi"}
                 print(my_dict["age"])  # my_dict = {"name": "Sumit", "age": 25, "city": "Delhi"}
                 print(my_dict["age"])  #  Accessing in O(1)

18.  **In what situations are lists preferred over dictionaries.**

     - **Use a List When:**
       
       Lists maintain the order of items.

              fruits = ["apple", "banana", "cherry"]
              print(fruits[0])  # Output: apple (first item)

    **Note:>**
    
      Dictionaries (before Python 3.7) didn’t guarantee order, though now they do — but lists are made for ordered sequences.

   **You Need to Store Duplicates:**

       Lists allow duplicate values — dictionaries do not allow duplicate keys.


                   names = ["Sumit", "Amit", "Sumit"]  #  OK

19.  **Why are dictionaries considered unordered, and how does that affect data retrieval.**

     - **Why Were Dictionaries Considered Unordered**


        In older versions of Python (before 3.7), dictionaries were implemented using hash tables.

        And The order in which you added key-value pairs was not preserved


                          my_dict = {"a": 1, "b": 2, "c": 3}

  
   **How Does This Affect Data Retrieval**

   **List (Ordered):**

   You can retrieve by index/position:

        my_list = ["apple", "banana", "cherry"]
        print(my_list[1])  # Output: banana

   **Dictionary (Key-based):**

   You retrieve by key, not index:

                my_dict = {"fruit1": "apple", "fruit2": "banana"}
                print(my_dict["fruit2"])  # Output: banana

20.   **Explain the difference between a list and a dictionary in terms of data retrieval.**

    - **List — Access by Index (Position)**
     
     * A list stores a sequence of values.

     *  You access items by their position (index), starting at 0.


  **Example:**

      my_list = ["apple", "banana", "cherry"]
      print(my_list[1])  # Output: banana


  **Dictionary — Access by Key (Label)**  

 *  A dictionary stores key-value pairs.

*  You access items by their key (like a name or label).


 **Example:**

           my_dict = {"fruit1": "apple", "fruit2": "banana"}
           print(my_dict["fruit2"])  # Output: banana



---



---




# Practical Questions


---

1.  **Write a code to create a string with your name and print it.**

In [1]:
# Creating a string with your name
name = "Sumit Jayant"

# Printing the name
print("My name is:", name)

My name is: Sumit Jayant

2.  **Write a code to find the length of the string "Hello World".**

In [2]:
# Define the string
text = "Hello World"

# Find the length using len() function
length = len(text)

# Print the result
print("The length of the string is:", length)

The length of the string is: 11

3.  **Write a code to slice the first 3 characters from the string "Python Programming".**

In [3]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("The first 3 characters are:", sliced_text)

The first 3 characters are: Pyt

4.   **Write a code to convert the string "hello" to uppercase.**

In [4]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

5.  **Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [5]:
# Original string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

6.   **Write a code to create a list with numbers 1 to 5 and print it.**

In [6]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

7.   **Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [7]:
# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8.  **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [8]:
# Original list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9.  **Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [9]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("The second element is:", second_element)

The second element is: b

10.   **Write a code to reverse the list [10, 20, 30, 40, 50].**

In [10]:
# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11.   **Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [11]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

12.    **Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [12]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_last = colors[-2]

# Print the result
print("The second-to-last element is:", second_last)

The second-to-last element is: blue

13.    **Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [13]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number using min() function
minimum = min(numbers)

# Print the result
print("The minimum number is:", minimum)

The minimum number is: 5

14.   **Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [14]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_of_cat = animals.index("cat")

# Print the result
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15.   **Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [15]:
# Create a tuple with fruits
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16. **Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [17]:
# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print("The set is:", my_set)

The set is: {'c', 'a', 'b'}

17.  **Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [18]:
# Define the set
my_set = {1, 2, 3, 4, 5}

# Clear all elements
my_set.clear()

# Print the updated set
print("The set after clearing:", my_set)

The set after clearing: set()

18.   **Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [19]:
# Define the set
my_set = {1, 2, 3, 4}

# Remove the element 4
my_set.remove(4)

# Print the updated set
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

19.   **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [20]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("The union of the sets is:", union_set)

The union of the sets is: {1, 2, 3, 4, 5}

20.   **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [21]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("The intersection of the sets is:", intersection_set)

The intersection of the sets is: {2, 3}

21.   **Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [22]:
# Create the dictionary
person = {
    "name": "Sumit",
    "age": 25,
    "city": "Delhi"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Sumit', 'age': 25, 'city': 'Delhi'}

22.   **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [23]:
# Original dictionary
person = {'name': 'John', 'age': 25}

# Add a new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

 23.  **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [24]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value for the key "name"
name_value = person['name']

# Print the result
print("The name is:", name_value)

The name is: Alice

24.   **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [25]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
del person['age']

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25.   **Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [26]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" key exists
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.   **Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [27]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('a', 'b', 'c')

# Create a dictionary
my_dict = {'name': 'Sumit', 'age': 25, 'city': 'Delhi'}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Sumit', 'age': 25, 'city': 'Delhi'}

27.   **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [28]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [37, 59, 79, 91, 97]

28.    **Write a code to create a list with strings and print the element at the third index.**

In [29]:
# Create a list of strings
fruits = ['apple', 'banana', 'cherry', 'mango', 'orange']

# Print the element at index 3
print("Element at third index:", fruits[3])

Element at third index: mango

29.  **Write a code to combine two dictionaries into one and print the result.**

In [30]:
# Define the first dictionary
dict1 = {'name': 'Alice', 'age': 30}

# Define the second dictionary
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

30.  **Write a code to convert a list of strings into a set.**

In [31]:
# Create a list of strings
string_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set:", string_set)

Set: {'banana', 'apple', 'cherry'}